body {
  background-color: #f6f7fb;
  color: #303545;
}

.main-header {
  margin-bottom: 2rem;
}

.cards-title {
  margin-bottom: 1rem;
}

/* Deck view */

.deck,
.card {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  border: none;
  margin-bottom: 1rem;
}

.deck-card .card-wrap {
  display: flex;
  flex: 1;
}
.deck-card .card-front,
.deck-card .card-back {
  width: 50%;
}

.deck-card .card-front {
  border-right: 1px solid #ddd;
  margin-right: 2rem;
}

/* Study view */
.study-card {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 90vh;
}

.study-card .card-body {
  flex: none;
  justify-content: center;
}

.study-card .card-wrap {
  align-items: center;
}

.study-card .card-main {
  width: 100%;
}

.study-card p.study {
  font-size: 3rem;
}

.card-flip-list {
  position: relative;
  overflow: hidden;
  height: 80vh;
}
