body {
  background-color: #f6f7fb;
  color: #303545;
}

.main-header {
  margin-bottom: 2rem;
}

.cards-title {
  margin-bottom: 1rem;
}

.card-body {
  padding: 2rem;
}
.hide {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #4277ff;
  border-color: #4277ff;
}

.btn-light {
  color: #000;
  background-color: #edf1fa;
  border-color: #edf1fa;
}

.group-btns {
  margin-bottom: 1rem;
}

.deck-name {
  margin-bottom: 0.75rem;
}

.deck-desc {
  margin-bottom: 1.5rem;
}
/* Deck view */
.card-front p.display-6 {
  margin-bottom: 3rem;
}
.deck,
.card {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  border: none;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.deck-card .card-wrap {
  display: flex;
  flex: 1;
}
.deck-card .card-front,
.deck-card .card-back {
  width: 50%;
}

.deck-card .card-front {
  border-right: 1px solid #ddd;
  margin-right: 2rem;
}

/* Study view */
.cards-study-list {
  position: absolute;
  width: 74vw;
  height: 75vh;
  overflow: hidden;
}

.cards-study-content {
  position: relative;
  width: 100%;
}

.card-study {
  height: 75vh;
  align-items: center;
  justify-content: center;
}
.card-study .card-body {
  flex: inherit;
  padding: 2rem;
}
.card-study .display-2 {
  margin-bottom: 2rem;
}
